files:
  "/root/.ssh/bitbucket_deployment_key":
     mode: "000600"
     owner: root
     group: root
     content: |
       -----BEGIN RSA PRIVATE KEY-----
       MIIEpQIBAAKCAQEA18gFc/lzqOgmHbBtjQzL5ugW9zctE9XVOnIe58CxYGlth4+8
       UEM3GEc1naPMszcboIvMaX/i68UlHVvMEdk1xq0f3SP3sOWeOjCb/9jr/xMIH4Ve
       UGf+v7k3cwiia11e4EW6BrFv9sL4ZvVZs0/53kgfM7ZGBtU8dVA4gPrm7hEdE500
       K8YoW+qmhKQeRL+HVFO2ArH1IgwP9WVy8qxHlIdMkSCIfEBEjjxduIdYAob1Z7Ov
       9h64LXqfOVhC1LE39e3Mt8+8CQ91UuEeJdw8CAaAJKcxo4o+7GQwQhGXRWP50XCt
       culCoG9cHCis/ILJLawowOmbQOeWO8Eb1PPpKQIDAQABAoIBAQDVZO5fnxaOt+bZ
       /ZyZnUoY9PWhTmO59gKFZk7CCoJgQmMbaT5mcdKOo/2WBGNv6NPdleN1gg+78p+d
       xSavkAvqi1OzstpFiw9LpL7h6niZLQ0ffxmikvYQTO9VR/i4DQLC8LHj5J5BfteB
       mqo29qS4+sJAtcXTBBZiPg9jHr46N8jSVPaG7vJeAFx+/w3ob4ignC5U6rvjy/6/
       MjFj+mF5rpGlvIhH7Z4HJeynAmBJ5o+ecJb0XQ1tOSU7em2qBbZdEHxGN3st+9Mx
       NDn//SlWfac5JmpQfjIczdsCjGtot7dT3GzmOXNFAY1HNSPx8CK9jvyo+CoOYmLR
       wYfowNTBAoGBAPjsu48x8l7qO7YrUQ71qXDNFgCavNFFLuSTAsSBVFP8ssoNLI+T
       iOg/2DJ6yYp9MshaNhv8LEnswy2UaW3SSKNJ93FsKu+fdCRkJ7xfYOk6C3ATRIqk
       TbYrqYyh+0VxjoV8Gx4hjXwoB4W0OlPkrwp4FoX1wJ1fwZ5Hz+RomEB9AoGBAN3q
       IAiPkc2ITCqCc9MRObIrRMp+f9NGa9BBeKgA9lodtxwJ1GmjEHpisaKGJ5FW2eGr
       S6lpnj5fBpcGBcCwfYeIBd3SFUEOBUt6RJxT2/7g+crCkh3EOSCC698Lu1KEpmMt
       PGdp2rPxjaMF2o32RMGkLrFwoB/Gdg07/J4ALPcdAoGBAKyG78xk0tbkQ/ST+z+C
       Fylei8RpezsUV1cHaaCm/rqjZ4vRK7RrjjVioscCAZQiCEOC+wPUeSHXnsOFnLkI
       SV4bkwwi63NfshDS9hOCi9m6aFkKkbQCAvajNoWJc22DMkPka6srmDOYTvZlnxOs
       aYG5D+tTFGg/CSRaI4Xs1LHFAoGAe6q/k0W+8RUlrQLp3RPaXUnzmg0I2wqBhpsV
       zDpND0dEBeIMd5oh0rIxX+r3He2SmkpFbfGn+AYou/zlM86nBeJtsoIiyhAwLzHC
       DoRFMzLYwX/QwbnaRB3xqGj3STMXLmnFIbRB5smULudSNo6pHmiKhOPIuCx3GUT2
       sG5UoJkCgYEAgcz8kG6VVpYb1m0ZfCXtCSME+LIpHgjutlBxnkCxx2XyVu8AAG8f
       9M59yjzTcrJmyML9U1P5LMvig5JbLmemXNRNjcBEeEoAYfI+h4Qi8GCsH9KzH9zz
       yfRo67peLCyb4YnKYqiVYOuM3irH3/QL/sAf1rfOOZT1eTAiHb2MADs=
       -----END RSA PRIVATE KEY-----
  "/root/.ssh/config":
     mode: "000600"
     owner: root
     group: root
     content: |
       Host bitbucket.org
         StrictHostKeyChecking no
         IdentityFile /root/.ssh/bitbucket_deployment_key
         UserKnownHostsFile /dev/null